.App {
  text-align: center;
  margin: 0rem;
  padding: 0rem;
  display:block;
  width: 100%;
}

.App-header {
  display: flex;

}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.logoRc {
  height: 5rem;
  width: auto;
  display: flex;  
  border-collapse: auto;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
